@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #FDFCF2;
    color: #0f172a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}