@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100%;
  }

  body {
    background-color: #FDFCF2;
    color: #0f172a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    overflow-x: hidden;
  }
}